---
title: Millman Gripes
---

<div class="container">
  <h1>Millman Gripes</h1>
  <div class="pic"></div>
  <h2 class="gripe"></h2>

  <div class="footer">
    <p>
      Email your gripes to <a href="mailto:gripe@millman.gripe">gripe@millman.gripe</a>
    </p>
  </div>
</div>
